{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Canto is an application to sing popular musics in an easiest way">
		<!-- Fav Icon  -->
		<link rel="shortcut icon" href="/static/images/favicon.png">
		<!-- Site Title  -->
		<title>Canto</title>
		<!-- Vendor Bundle CSS -->
		<link rel="stylesheet" href="/static/assets/css/vendor.bundle.css" >
		<!-- Custom styles for this template -->
		<link href="/static/assets/css/style.css" rel="stylesheet">
		<link href="/static/assets/css/theme-green-blue.css" rel="stylesheet">
		<link href="/static/assets/css/customized.css" rel="stylesheet">
	<body>

		<!-- Start .header-section -->
		<div id="home" class="header-section flex-box-middle section gradiant-background header-curbed">
			<div id="particles-js" class="particles-container"></div>
			<div id="navigation" class="navigation is-transparent" data-spy="affix" data-offset-top="5">
				<nav class="navbar navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-collapse-nav" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
{#                             href="index-particles.html"#}
							<a class="navbar-brand">
								<img class="logo logo-light" src="/static/images/logo-white.png" alt="logo" />
								<img class="logo logo-color" src="/static/images/logo.png" alt="logo" />
							</a>
                            <a class="navbar-brand" href="https://sibapp.com/applications/canto">
                                <img src="https://sibapp.com/files/Sibapp-Download-Icons/dl-eng.png" alt="">
                            </a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse font-secondary" id="site-collapse-nav">
							<ul class="nav nav-list navbar-nav navbar-right">
                                {#								<li><a class="nav-item" href="#pricing">Pricing</a></li>#}
                                {#								<li><a class="nav-item" href="#testimonial">Testimonial</a></li>#}
                                <li><a class="nav-item" href="#contacts">ارتباط با ما</a></li>
                                <li><a class="nav-item" href="#team">تیم</a></li>
                                <li><a class="nav-item" href="#screenshots">صفحات کانتو</a></li>
                                <li><a class="nav-item" href="#features">قابلیت‌ها</a></li>
                                <li><a class="nav-item" href="#about">درباره ما</a></li>
                                <li><a class="nav-item" href="#home">خانه</a></li>
                            </ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container -->
				</nav>
			</div><!-- .navigation -->

			<div class="header-content pt-90 pb-60">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3">
							<div class="header-texts">
								<h1 class="cd-headline clip is-full-width wow fadeInUp" data-wow-duration=".5s">
									<span>Sing </span>
									<span class="cd-words-wrapper">
										<b class="is-visible">What You Want</b>
										<b>What You Need</b>
										<b>What You Love</b>
									</span>
								</h1>
								<p class="lead wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">اپلیکیشن کانتو همراهی برای خلاقیت و استعداد خوانندگی شماست.</p>
								<!-- <ul class="download-buttons">
									<li><a href="#" class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s"><img src="images/google-play.png" alt="google-play" /></a></li>
									<li><a href="#" class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".9s"><img src="images/app-store.png" alt="app-store" /></a></li>
								</ul> -->
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
					<div class="row text-center">
						<div class="col-md-12">
							<div class="alt-header-mockup">
								<img class="mockup-left wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".9s" src="/static/images/header-screen-2.jpg" alt="header-screen" />
								<img class="mockup-middle wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s" src="/static/images/header-screen-1.jpg" alt="header-screen" />
								<img class="mockup-right wow fadeInRight" data-wow-duration=".5s" data-wow-delay="1.2s" src="/static/images/header-screen-3.jpg" alt="header-screen" />
							</div>
						</div>
					</div>
				</div><!-- .container -->
			</div><!-- .header-content -->
		</div><!-- .header-section -->


		<!-- Start .about-section  -->
		<div id="about" class="about-section section pb-90 white-bg">
			<div class="container tab-fix">
				<div class="section-head text-center">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="heading">درباره <span>کانتو</span></h2>
							<p>کانتو ابزاری است که به شما اجازه می‌دهد تا با ضبط کردن صدای خود روی موسیقی محبوبتان، مرزهای بین خود و دنیای خوانندگی را بشکافید و با استفاده از افکت‌های اپلیکیشن، فرمان زیبایی کار خود را به دست بگیرید.</p>
						</div>
					</div>
				</div><!-- .section-head -->
{#				<div class="row tab-center mobile-center">#}
{#					<div class="col-md-6">#}
{#						<div class="txt-entry dir-rtl">#}
{#							<h3 class="font-weight-light">پاک شه</h3>#}
{#							<p>پاک شه.</p>#}
{#							<p>پاک شه.</p>#}
{#							<a href="#" class="button">پاک شه.</a>#}
{#						</div>#}
{#					</div><!-- .col -->#}
{#					<div class="col-md-6">#}
{#						<div class="video wow fadeInRight" data-wow-duration=".5s">#}
{#							<img src="/static/images/about-video.jpg" alt="about-video" />#}
{#							<div class="video-overlay gradiant-background"></div>#}
{#							<a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="video-play" data-effect="mfp-3d-unfold"><i class="fa fa-play"></i></a>#}
{#						</div>#}
{#					</div><!-- .col -->#}
{#				</div><!-- .row -->#}
			</div><!-- .container -->
		</div><!-- .about-section  -->


		<!-- Start .features-section  -->
		<div id="features" class="features-section section gradiant-background">
			<div class="container tab-fix">
				<div class="features-content pt-10">
					<div class="row">
						<div class="col-md-8 pull-right">
							<div class="section-head heading-light mobile-center tab-center">
								<div class="row">
									<div class="col-md-12">
										<h2 class="heading heading-light">قابلیت‌ها</h2>
										<p>کانتو مشخصه‌ها و قابلیت‌هایی دارد که تلاش ما برای لذت و راحتی شما بوده است. تلاش هرروزه ما برای افزایش این قابلیت‌ها و بهبود آن‌هاست. مهم‌ترین عامل برای در این مسیر پیشنهاد و خواسته‌های کاربران است.</p>
									</div>
								</div>
							</div><!-- .section-head -->
							<div class="row">
								<div class="col-sm-6">
									<div class="single-features">
										<em class="ti ti-user"></em>
										<h4>کاربرمحوری</h4>
										<p>خط مشی اصلی طراحان کانتو در هر قدم شکل‌گیری این اپلیکیشن، تجربه بهینه کاربر بوده است. تمام تلاش ما بر این بوده که زیبایی و راحتی کانتو جایی در گوشی هوشمند و دستان شما داشته باشد.</p>
									</div>
								</div><!-- .col -->
								<div class="col-sm-6">
									<div class="single-features">
										<em class="ti ti-bolt"></em>
										<h4>سرعت یادگیری</h4>
										<p>با ظهور کانتو، خوانندگی برای همه است. خدمات حاضر و راه پیش روی کانتو، بال شما برای پرواز در آسمان موسیقی خواهند بود. با پیش‌تر رفتن کانتو، آموختن خوانندگی و خواندن راحت‌تر و راحت‌تر خواهد شد.</p>
									</div>
								</div><!-- .col -->
								<div class="col-sm-6">
									<div class="single-features">
										<em class="ti ti-video-camera"></em>
										<h4>تصویربرداری</h4>
										<p>کانتو دوست شبکه‌های اجتماعی شماست. شما می‌توانید با استفاده از گزینه فیلم‌برداری، تصویر خوانندگی خود را در کنار صدایتان داشته باشید و آن را با دوستان و نزدیکانتان به اشتراک بگذارید.</p>
									</div>
								</div><!-- .col -->
								<div class="col-sm-6">
									<div class="single-features">
										<em class="ti ti-infinite"></em>
										<h4>همراهی همیشگی</h4>
										<p>کانتو همیشه کنار شما خواهد بود و آن چه در بر دارد همواره تازه خواهد ماند. راهی پر از برنامه‌های جدید ما برای شما و اضافه‌شدن پی در پی موسیقی‌های جدید در سبک‌های مختلف، کهنه‌شدن کانتو را غیر ممکن می‌کند.</p>
									</div>
								</div><!-- .col -->
							</div><!-- .row -->
						</div><!-- .col -->
						<div class="col-md-4 text-center">
							<div class="fearures-mockup-dubble pt-100 tab-fix">
								<div class="fearures-mockup fearures-mockup-alt iphonex wow fadeInLeft" data-wow-duration="1s">
									<img src="/static/images/scv-3.jpg" alt="features-mockup" />
								</div>
								<div class="fearures-mockup fearures-mockup-two iphonex wow fadeInUp" data-wow-duration="1s">
									<img src="/static/images/scv-2.jpg" alt="features-mockup" />
								</div>
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .features-content -->
			</div><!-- .container -->
		</div><!-- .features-section  -->


		<!-- Start .screenshots-section  -->
		<div id="screenshots" class="screenshots-section section pb-120 white-bg">
			<div class="container">
				<div class="section-head text-center">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="heading">صفحات کانتو</h2>
							<p>زیبایی کانتو افتخار ما است. چشم‌نوازی کار همیشه از معیارهای مهم تیم ما برای ساخت محصولی برای شما بوده است. در ادامه صفحات مختلف اپلیکیشن، پنجره‌ای به دنیای کانتو هستند.</p>
						</div>
					</div>
				</div><!-- .section-head  -->
				<div class="row">
					<div class="col-md-12">
						<div class="tab-fix">
							<div class="image-carousel has-carousel slide-screen iphonex owl-carousel owl-theme"  data-items="5" data-center="true" data-loop="true" data-auto="true" data-dots="true" data-navs="false">
								<div class="item"><img src="/static/images/scv-1.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-2.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-3.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-4.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-5.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-6.jpg" alt="screenshoots" /></div>
								<div class="item"><img src="/static/images/scv-7.jpg" alt="screenshoots" /></div>
							</div>
						</div><!-- .tab-fix -->
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container-fluid -->
		</div><!-- .screenshots-section  -->

		<!-- Start .faq-section  -->
		<div class="faq-section section white-bg pt-120 pb-100">
			<div class="container">
				<div class="faq-alt">
					<div class="row tab-fix">
						<div class="col-md-4 tab-center mobile-center col-md-offset-1">
							<div class="side-heading">
								<h2 class="heading">کانتو؛ <span>سوالات پرتکرار</span></h2>
								<p>ما آماده پاسخگویی به شما هستیم. در اینجا پاسخ چند سوال آمده است که ممکن است به دنبال جواب آن باشید. اگر هم پاسخ خود را در اینجا نیافتید، <a class="nav-item" href="#contacts">از ما بپرسید</a> .</p>
							</div>
						</div><!-- .col  -->
						<div class="col-md-6">
							<!-- Accordion -->
							<div class="panel-group accordion" id="another" role="tablist" aria-multiselectable="true">
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i1">
										<h6 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i1" aria-expanded="false">
												آیا این برنامه رایگان است؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-i1">
										<div class="panel-body">
											  <p>ورود، ثبت نام و شروع به استفاده از کانتو برای همه رایگان است. کاربران می‌توانند پس از تجربه قابلیت‌های کانتو، برای استفاده کامل از اپلیکیشن حساب کاربری ویژه خریداری کنند.</p>
										</div>
									</div>
								</div>
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i2">
										<h6 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i2" aria-expanded="false">
												من چگونه درخواست‌های خود را مطرح کنم؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i2">
										<div class="panel-body">
											  <p>شما می‌توانید از طریق هر یک از اطلاعات تماس ما یا از طریق شبکه‌های اجتماعی درخواست‌ها، پیشنهادها، انتقادات و بازخوردهای خود را با ما مطرح کنید. هیچ چیزی برای تیم کانتو ارزشمندتر از نظر شما نیست.</p>
										</div>
									</div>
								</div>
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i3">
										<h6 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i3" aria-expanded="false">
												چگونه به اپلیکیشن و آخرین نسخه آن دسترسی پیدا کنم؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i3">
										<div class="panel-body">
											  <p>شما می‌توانید از طریق فروشگاه مجازی سیب‌اپ، به شکل رایگان به کانتو و همه به‌روزرسانی‌های آن برای دستگاه اپل خود دسترسی داشته باشید.</p>
										</div>
									</div>
								</div>
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i4">
										<h6 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i4" aria-expanded="false">
												آیا نسخه پولی اپلیکیشن وجود دارد که امکانات بیشتری داشته باشد؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i4">
										<div class="panel-body">
											  <p>اپلیشکین کانتو تنها یک نسخه دارد و هر گونه امکانات اضافی یا بیشتری در قالب همین نسخه ارائه می‌شود.</p>
										</div>
									</div>
								</div><!-- end each panel -->
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i5">
										<h6 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i5" aria-expanded="false">
												اپلیکیشن روی چه دستگاه‌هایی قابل استفاده است؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i5">
										<div class="panel-body">
											  <p>در حال حاضر کانتو تنها روی دستگاه‌های اپل قابل دسترسی است. اما به زودی نسخه‌های اندرویدی کانتو نیز برای کاربران ارائه خواهند شد.</p>
										</div>
									</div>
								</div><!-- end each panel -->
								<!-- each panel for accordion -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="accordion-i6">
										<h6 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i6" aria-expanded="false">
												آیا تیم شما برای ساخت اپ‌های سفارشی آماده است؟
												<span class="plus-minus"><span></span></span>
											</a>
										</h6>
									</div>
									<div id="accordion-pane-i6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i6">
										<div class="panel-body">
											  <p>اولویت اول تیم ما کانتو است. اما تجربه نشان داده است که تیم کانتو در انجام پروژه‌های دیگر توانسته بدون کاستن از استانداردهای کاری خود موفق باشد. شما می‌توانید برای مذاکره و درخواست همکاری از طریق اطلاعات تماس با ما مکالمه داشته باشید.</p>
										</div>
									</div>
								</div><!-- end each panel -->
							</div><!-- Accordion #end -->
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .faq  -->
			</div><!-- .container  -->
		</div><!-- .faq-section  -->


		<!-- Start .team-section  -->
		<div class="team-section section grey-background pb-90" id="team">
			<div class="container">
				<div class="section-head text-center">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="heading">تیم <span>ما</span></h2>
							<p>تیم ما متشکل از افراد جوانی با توانایی‌های مختلف است که تلاش دارند با نگاهی همه‌جانبه کانتو را به اوج برسانند.</p>
						</div>
					</div>
				</div><!-- .section-head  -->
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<div class="team-member">
							<div class="team-photo"><img src="/static/images/team-a.jpg" alt="team" /></div>
							<div class="team-info">
                                <h4 class="name">هوتن حسینی</h4>
								<p class="sub-title">مدیر عامل</p>

							</div>
						</div>
					</div><!-- .col  -->
					<div class="col-md-4">
						<div class="team-member">
							<div class="team-photo"><img src="/static/images/team-b.jpg" alt="team" /></div>
							<div class="team-info">
								<h4 class="name">پیمان عزتی</h4>
								<p class="sub-title">مدیر فنی</p>
							</div>
						</div>
					</div><!-- .col  -->
				</div><!-- .row  -->
				<div class="row">
					<div class="col-md-4">
						<div class="team-member">
							<div class="team-photo"><img src="/static/images/team-d.jpg" alt="team" /></div>
							<div class="team-info">
								<h4 class="name">سید عادل معصومی</h4>
								<p class="sub-title">مدیر روابط عمومی</p>
							</div>
						</div>
					</div><!-- .col  -->
					<div class="col-md-4">
						<div class="team-member">
							<div class="team-photo"><img src="/static/images/team-f.jpg" alt="team" /></div>
							<div class="team-info">
								<h4 class="name">عباس علیزاده</h4>
								<p class="sub-title">مدیر مالی</p>
							</div>
						</div>
					</div><!-- .col  -->
					<div class="col-md-4">
						<div class="team-member">
							<div class="team-photo"><img src="/static/images/team-c.jpg" alt="team" /></div>
							<div class="team-info">
								<h4 class="name">احسان فتحیان</h4>
								<p class="sub-title">مدیر هنری</p>
							</div>
						</div>
					</div><!-- .col  -->
				</div>
			</div><!-- .container  -->
		</div><!-- .team-section  -->


		<!-- Start .testimonial-section  -->
{#		<div id="testimonial" class="testimonial-section section white-bg pb-120">#}
{#			<div class="imagebg">#}
{#				<img src="/static/images/testimonial-bg.png" alt="testimonial-bg">#}
{#			</div>#}
{#			<div class="container">#}
{#				<div class="section-head text-center">#}
{#					<div class="row">#}
{#						<div class="col-md-8 col-md-offset-2">#}
{#							<h2 class="heading">What our <span>client say !</span></h2>#}
{#							<p>Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>#}
{#						</div>#}
{#					</div>#}
{#				</div><!-- .section-head  -->#}
{#				<div class="row">#}
{#					<div class="col-md-8 col-md-offset-2">#}
{#						<div class="testimonial-carousel has-carousel" data-items="1" data-loop="true" data-dots="true" data-auto="true" data-navs="false">#}
{#							<div class="item text-center">#}
{#								<div class="quotes">#}
{#									<img src="/static/images/quote-icon.png" class="quote-icon" alt="quote-icon" />#}
{#									<blockquote>Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient montes nascetur.</blockquote>#}
{#									<h6>Andy Lovell</h6>#}
{#									<div class="client-image">#}
{#										<img src="/static/images/client-1.jpg" alt="client" />#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<div class="item text-center">#}
{#								<div class="quotes">#}
{#									<img src="/static/images/quote-icon.png" class="quote-icon" alt="quote-icon" />#}
{#									<blockquote>Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient montes nascetur.</blockquote>#}
{#									<h6>Andy Lovell</h6>#}
{#									<div class="client-image">#}
{#										<img src="/static/images/client-2.jpg" alt="client" />#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<div class="item text-center">#}
{#								<div class="quotes">#}
{#									<img src="/static/images/quote-icon.png" class="quote-icon" alt="quote-icon" />#}
{#									<blockquote>Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient montes nascetur.</blockquote>#}
{#									<h6>Andy Lovell</h6>#}
{#									<div class="client-image">#}
{#										<img src="/static/images/client-1.jpg" alt="client" />#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div><!-- .testimonial-carousel  -->#}
{#					</div><!-- .col  -->#}
{#				</div><!-- .row  -->#}
{#			</div><!-- .container  -->#}
{#		</div><!-- .testimonial-section  -->#}


		<!-- Start .contact-section  -->
		<div id="contacts" class="contact-section section gradiant-background pb-90">
			<div class="container">
				<div class="section-head heading-light text-center">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="heading heading-light">با ما تماس بگیرید</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="contact-info white-bg">
							<div class="row dir-rtl">
								<div class="col-sm-2">
									<script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
								</div>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-6">
											<h6><em class="fa fa-envelope"></em> cantoapp@gmail.com</h6>
										</div>
										<div class="col-sm-6">
											<h6><em class="fa fa-phone"></em> </h6>
										</div>
										<div class="col-sm-12">
												<h6><em class="fa fa-map-marker"></em> Instagram: Canto_App</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- .col  -->
				</div><!-- .row  -->
			</div><!-- .container  -->
		</div><!-- .contact-section  -->


		<!-- Start .footer-section  -->
		<div class="footer-section section">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<ul class="footer-navigation inline-list">
							<li><a class="nav-item" href="#home">Home</a></li>
							<li><a class="nav-item" href="#about">About</a></li>
							<li><a class="nav-item" href="#features">Features</a></li>
							<li><a class="nav-item" href="#screenshots">Screenshots</a></li>
							<li><a class="nav-item" href="#pricing">Pricing</a></li>
							<li><a class="nav-item" href="#team">Team</a></li>
							<li><a class="nav-item" href="#testimonial">Testimonial</a></li>
							<li><a class="nav-item" href="#contacts">Contacts</a></li>
						</ul>
						<ul class="social-list inline-list">
							<li><a href="#"><em class="fa fa-facebook"></em></a></li>
							<li><a href="#"><em class="fa fa-twitter"></em></a></li>
							<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
							<li><a href="#"><em class="fa fa-pinterest"></em></a></li>
							<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
							<li><a href="#"><em class="fa fa-instagram"></em></a></li>
						</ul>
						<ul class="footer-links inline-list">
							<li>Copyright © 2017 AppsLand. Template Made by <a target="_blank" href="http://softnio.com/">Softnio</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div><!-- .col  -->
				</div><!-- .row  -->
			</div><!-- .container  -->
		</div><!-- .footer-section  -->

		<!-- Preloader !remove please if you do not want -->
		<div id="preloader"><div id="status">&nbsp;</div></div>
		<!-- Preloader End -->

		<!-- JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="/static/assets/js/jquery.bundle.js"></script>
		<script src="/static/assets/js/script.js"></script>
		
	</body>
</html>
